@model ToDoList.Models.ToDo

@{
    ViewBag.Title = "Index";
}

<h2>Here you can find all tasks and create new one</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

<div id="tableDiv"></div>
<button onclick="viewAll()">View all tasks</button>

<div></div>

<div id="createTasks">
    @using (Ajax.BeginForm("AJAXCreate", "ToDoes", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        UpdateTargetId = "tableDiv"
    }))
    {
    <h3>Create new task:</h3>    
    <div class="form-group">
        @Html.AntiForgeryToken()
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    }
</div>
@*<button onclick="createNew()">Create new task</button>*@

@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/CustomScripts/BuildTable.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    function viewAll() {
        $("#tableDiv").load("/ToDoes/BuildToDoTable");
    }

    function createNew() {
        $("#createTasks").load("/ToDoes/AJAXCreate");
    }
</script>

